<%- include('./partials/header.ejs') %>
<div class="forget_password">
	<h2>Reset Password</h2>
	<div class="salutation">Hi, <%= user.firstName + ' ' + user.lastName %></div>
	<p class="messsge">
		A password reset was requested for your account at shoppy. Click the button
		below to be redirected to a page where you can change your password.<br /><br />
		If you had not requested a reset password, please ignore this email.
	</p>
	<a class="reset_button" href="<%= resetLink %>">Reset Password</a>
</div>

<%- include('./partials/footer.ejs') %>
